html {
    height: 100%;
}

html, body {
    background-color: #eee;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.brand{
top:300;
left:400;
}


/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
position: relative;
    margin: 0 -90px; /* negative indent the amount of the padding to maintain the grid system */
    margin-left: auto ;
    margin-right: auto ;
    min-height: 10px;
}

.homepage {
	background-image:url('../images/UI/home.png');
	background-repeat:no-repeat;
	background-position:center;
	margin-left: auto ;
    margin-right: auto ;
	position: relative;
	height: 600px;
	width: 800px;
}

.lobbypage {
	background-image:url('../images/UI/lobby.png');
	background-repeat:no-repeat;
	background-position:center;
	margin-left: auto ;
    margin-right: auto ;
	position: relative;
	height: 600px;
	width: 800px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}



#mainPage{
background-image: url("../images/UI/guesser.png");
background-repeat:no-repeat;
background-position:center;
width:800px;
height:600px;
margin-left:auto;
margin-right:auto;
position: relative;
}

#username {
background-color: transparent;
border-color: transparent;
left:312px;
position:absolute;
top:457px;
    width: 200px;
	height:35px;
font-weight:bold;
color: #B01AA6;
text-align:center;
}

#facebook {
background-color: transparent;
background-image: url("../images/UI/facebook.png");
background-repeat:no-repeat;
background-position:center;
height:40px;
left:430px;
position:absolute;
top:535px;
    width: 40px;
}

#twitter {
background-color: transparent;
background-image: url("../images/UI/twitterInactive.png");
background-repeat:no-repeat;
background-position:center;
height:40px;
left:480px;
position:absolute;
top:534px;
    width: 40px;
}


#login {
background-color: transparent;
background-image: url("../images/UI/loginUnpressed.png");
height:66px;
left:330px;
position:absolute;
top:520px;
    width: 181px;
}

#login:hover {
background-color: transparent;
background-image: url("../images/UI/loginHover.png");
height:66px;
left:330px;
position:absolute;
top:520px;
    width: 181px;
}

#login:active {
background-color: transparent;
background-image: url("../images/UI/loginPressed.png");
height:46px;
left:330px;
position:absolute;
top:530px;
    width: 181px;
}

#back {
	background-color: transparent;
	background-image: url("../images/UI/backUnpressed.png");
	height: 45px;
	left: 600px;
	position: absolute;
	top: 530px;
	width: 160px;
}

#back:hover {
	background-color: transparent;
	background-image: url("../images/UI/backHover.png");
}

#back:active {
	background-color: transparent;
	background-image: url("../images/UI/backPressed.png");
}

#createGame {
	background-color: transparent;
	background-image: url("../images/UI/createUnpressed.png");
	height: 60px;
	left: 10px;
	position: absolute;
	top: 540px;
	width: 200px;
}

#createGame:hover {
	background-color: transparent;
	background-image: url("../images/UI/createHover.png");
}

#createGame:active {
	background-color: transparent;
	background-image: url("../images/UI/createPressed.png");
}

#createGamePopUp {
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../images/UI/createUnpressed.png");
	height: 60px;
	left: 0px;
	position: relative;
	top: 30px;
	width: 200px;
}

#roomName{
	width: 200px;
}

#createGamePopUp:hover {
	background-color: transparent;
	background-image: url("../images/UI/createHover.png");
}

#createGamePopUp:active {
	background-color: transparent;
	background-image: url("../images/UI/createPressed.png");
}


#skipTask {
	background-color: transparent;
	background-image: url("../images/UI/skipUnpressed.png");
	height:66px;
	left:230px;
	position:absolute;
	top:500px;
    width: 181px;
}

#skipTask:hover {
	background-color: transparent;
	background-image: url("../images/UI/skipHover.png");
}

#skipTask:active {
	background-color: transparent;
	background-image: url("../images/UI/skipPressed.png");
}

#join {
	background-color: transparent;
	background-image: url("../images/UI/joinUnpressed.png");
	height: 66px;
	left: 10px;
	position: absolute;
	top: 480px;
	width: 190px;
}

#join:hover {
	background-color: transparent;
	background-image: url("../images/UI/joinHover.png");
}

#join:active {
	background-color: transparent;
	background-image: url("../images/UI/joinPressed.png");
}



#username:focus {
box-shadow:-2px -2px 6px #B01AA6, -2px 2px 6px #B01AA6, 4px 2px 6px #B01AA6, 4px -2px 6px #B01AA6;
}

#chatPanel {
    overflow: hidden;
	position: absolute;
	z-index:10;
}

div.popup_cont {
	height:350px !important;
	width:350px !important;
	position: fixed;
	top: 25% !important;
	left: 40% !important;
	background-image: url("../images/UI/alertBox.png");
}



.popup_cont .popup{
	background: rgba(0,0,0,0);
	padding: 25px;
	top: 50px;
	left: 50px;
	box-shadow: 0 3px 10px rgba(0,0,0,0);
	position: absolute;
}

.popup_content{
	position: absolute;
	height:200px !important;
	width:200px !important;
}

.lobbyChat {
	height:290px;
	left:360px;
	min-height:160px;
	top:200px;
	width:280px;
}

.gameChat {
	height:290px;
	left:600px;
	min-height:160px;
	top:260px;
	width:180px;
}

.gameRoom {
	left:628px;
}

tr.highlight {
	background-color: #8888ff;
}

tr:hover { background-color: #8888ff }

#gameList{
	position: absolute;
	width: 260px;
	top: 130px;
	left: 30px;
}

li.avatarIcon {
	list-style-type: none;
	background: url('../images/favicon.png') no-repeat top left;
	background-size:40px 40px;
	height: 46px;
	width: 70px;
	word-wrap: break-word;
	padding-left: 40px;
	padding-top: 10px;
	color: black;
	font-weight:bold;
}

.userList {
	position: absolute;
	height:290px;
	left:650px;
	min-height:160px;
	top:140px;
	width:180px;
}

#onError, #onChat {
    display: none;
}

#error {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 10%;
}

.error {
  padding: 1px 8px;
  background-color: #f00;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
  font-size: 1.4em;
  font-weight: bold;
}

#viewport {
    width: 500px;
    height: 450px;
	top: -439.5px;
	left: 89.5px;
    position: relative;
}

#gameMessagesSpan {
    width: 500px;
    height: 50px;
    left: 89.5px;
    background: white;
    position: relative;
}

#positions {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 5;
}

#me {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 4;
}

#draws {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 3;
}

#task {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 2;
}

#canvaswindows{
  position: absolute;
  top: 580px;
  width: 420px;
  height: 350px;
}

#currentNickname{
width: 110px;
height: 30px;
left:680px;
position:absolute;
top:88px;
text-align:center;
font-size:15px;
font-weight:bold;
}

#topMessage{
width: 380px;
height: 30px;
left:108px;
position:absolute;
top:60px;
text-align:center;
}

#timeCounter{
width: 200px;
height: 30px;
left:-10px;
position:absolute;
top:557px;
text-align:center;
}

#score{
width: 60px;
height: 30px;
left:655px;
position:absolute;
top:65px;
text-align:center;
}

#hudArea{
position: absolute;
        left: 0;
top: 0;
width: 800px;
height:300px;
}

#hud{
width: 800px;
height:300px;
z-index: 1;
}


#gameArea {
    width: 580px;
}

.playername {
    position: absolute;
    right: 20px;
    z-index: 20;
}

#wrapper {
    margin: 0px 20px;
}

#main {
    margin: 20px auto;
    width: 500px;
}

footer {
    text-align: center;
    padding: 10px 0;
}

#messages {
    position: absolute;
	height: 265px;
	top:10px;
	overflow-y: scroll;
}


#talk {
    position: absolute;
    height: 20px;
	background-color:transparent;
	border-color:transparent;
	z-index:11;
	resize: none;
}

.lobbyTalk {
	left: 345px;
	width: 250px;
	top: 508px;
}

.gameTalk {
	left: 605px;
    width: 170px;
	top:545px;
}


.message {
    padding: 4px 0;
    position: relative;
}

.message span {
    width: 80px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -1px;
}

.message p {
    display: inline-block;
    margin: 0;
    width: 150px;
word-wrap: break-word;
}


.message.talkError p{
color: #FF0000;
font-weight: bold;
}

.message.talkWarning p{
color: #FE9A2E;
font-weight: bold;
}

.message.talkNear p{
color:#9FF781;
font-weight: bold;
}

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}


#mainPage.sketcher {
	background-image: url("../images/UI/sketcher.png");
}

#mainPage.guesser {
	background-image: url("../images/UI/guesser.png");
}


/* Styles specific to this particular page */
.jscroll,
.scroll-pane-arrows
{
width: 100%;
height: 200px;
overflow: auto;
}
.horizontal-only
{
height: auto;
max-height: 200px;
}