@font-face {
    font-family: 'futura_lightregular';
    src: url('font/futura/futura_light-webfont.eot');
    src: url('font/futura/futura_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/futura/futura_light-webfont.woff') format('woff'),
    url('font/futura/futura_light-webfont.ttf') format('truetype'),
    url('font/futura/futura_light-webfont.svg#futura_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;

}

html, body {
    background: url('../images/common/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-family: 'ITCAvantGardeGothicStdBook';*/
    font-family: 'futura_lightregular';

}
/*To remove Twitter Bootstrap blue borders*/
a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

/*To remove blue borders around buttons*/
button:focus {outline:0;}
input:focus {outline:0;}

.container > footer p {
	text-align: center; /* center align it with the container */
}
.container {
	width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive.
	NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.brand {
	top: 300;
	left: 400;
}

/* The white background content wrapper */
.content {
	/*background-color: #fff;*/
	padding: 20px;
	position: relative;
	margin: 0 -90px; /* negative indent the amount of the padding to maintain the grid system */
	margin-left: auto ;
	margin-right: auto ;
	min-height: 10px;
}

.homepage, .lobbypage, .leaderboardpage {
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto ;
	margin-right: auto ;
	position: relative;
	height: 600px;
	width: 800px;
    top: -20px;
    left: -20px;
}

.homepage {
	background-image: url('../images/UI/home.png');
}

.lobbypage {
	/*lobby*/
	top:-20px;left:0px;
	width:800px;height:600px;background: url("../images/UI/lobby/lobby.png") no-repeat -0px -0px;
}

.leaderboardpage {
	background-image: url('../images/UI/gameover.png');
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
	min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
	padding-left: 9px;
	margin-left: 10px;
}

.topbar .btn {
	border: 0;
}

.topbar p {
	color: #888;
}


table.gameList {
	display: table;
	width: 100%;
}
table.gameList thead, table.gameList tbody {
	float: left;
	width: 100%;
}
table.gameList tbody {
	overflow: auto;
	height: 300px;
}
table.gameList tr {
	width: 100%;
	display: table;
	text-align: left;
}
table.gameList th, table.gameList td {
	width: 33%;
}

.popup_close {
	float: right;
	top: 20px;
	cursor: pointer;
	right: 20px;
	color: #FFF;
	border-radius: 30px;
	background: #605F61;
	font-size: 31px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	padding: 11px 3px;
}



#scoreBaloon {
	/*scoreBaloon*/
	width:74px;height:47px;background: url("../images/UI/game/game.png") no-repeat -182px -1245px;
	left: 635px;
	position: absolute;
	top: 50px;
	text-align: center;
	z-index: 2;
}

#score {
	left: 0px;
	top: 3px;
	position: relative;
	z-index: 2;
    color:#fff;
}


#currentAvatar {
	background-image: url("../images/UI/femaleAvatar.png");
	width: 60px;
	height: 60px;
	top: 20px;
	left: 700px;
	position: absolute;
}

#opponents {
	top: 182px;
	left: 600px;
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#opponents li {
	background-image: url("../images/UI/femaleAvatar.png");
	background-size: 38px auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 38px;
	height: 45px;
	display: block;
	float: left;
	margin: 0px 5px;
}

#mainPage {
	top:-20px;left:0px;
	width:800px;height:600px;background: url("../images/UI/game/game.png") no-repeat -0px -0px;
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#username {
	background-color: transparent;
	border-color: transparent;
	left: 312px;
	position: absolute;
	top: 460px;
	width: 200px;
	height: 35px;
	font-weight: bold;
	color: #B01AA6;
	text-align: center;
}

#facebook {
	background-color: transparent;
	background-image: url("../images/UI/facebook.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	left: 430px;
	position: absolute;
	top: 535px;
	width: 40px;
}

#twitter {
	background-color: transparent;
	background-image: url("../images/UI/twitterInactive.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	left: 480px;
	position: absolute;
	top: 534px;
	width: 40px;
}


#login {
	background-color: transparent;
	background-image: url("../images/UI/loginUnpressed.png");
	height: 66px;
	left: 330px;
	position: absolute;
	top: 520px;
	border-width: 0px;
	width: 181px;
}

.dropdown-menu {
    position: relative;
    background-color: #C69;
    margin: -70px 90px 0px;
}

#login:hover {
	background-color: transparent;
	background-image: url("../images/UI/loginHover.png");
	height: 66px;
	left: 330px;
	position: absolute;
	top: 520px;
	width: 181px;
}

#login:active {
	background-color: transparent;
	background-image: url("../images/UI/loginPressed.png");
	height: 46px;
	left: 330px;
	position: absolute;
	top: 530px;
	width: 181px;
}

#backToLobby {
	/*backUnpressed*/
	width:160px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -800px -51px;
	left: 420px;
	position: absolute;
	border-width: 0px;
	top: 530px;
}

#backToLobby:hover {
	/*backHover*/
	width:160px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -800px -0px;
}

#backToLobby:active {
	/*backPressed*/
	width:140px;height:39px;background: url("../images/UI/lobby/lobby.png") no-repeat -799px -762px;
}

#back {
	/*backUnpressed*/
	width:160px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -800px -51px;
	left: 600px;
	position: absolute;
	border-width: 0px;
	top: 530px;
}

#back:hover {
	/*backHover*/
	width:160px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -800px -0px;
}

#back:active {
	/*backPressed*/
	width:140px;height:39px;background: url("../images/UI/lobby/lobby.png") no-repeat -799px -762px;
}


#tolobby {
	top:530px;left:600px;
	width:189px;height:50px;background: url("../images/UI/lobby/lobby.png") no-repeat -773px -805px;
	position: absolute;
	border-width: 0px;
}

#tolobby:hover {
	width:190px;height:50px;background: url("../images/UI/lobby/lobby.png") no-repeat -655px -600px;
}

#tolobby:active {
	width:157px;height:42px;background: url("../images/UI/lobby/lobby.png") no-repeat -605px -805px;
}

#tolobbyprofile {
	top:500px;left:530px;
	width:189px;height:50px;background: url("../images/UI/lobby/lobby.png") no-repeat -773px -805px;
	position: absolute;
	border-width: 0px;
}

#tolobbyprofile:hover {
	width:190px;height:50px;background: url("../images/UI/lobby/lobby.png") no-repeat -655px -600px;
}

#tolobbyprofile:active {
	width:157px;height:42px;background: url("../images/UI/lobby/lobby.png") no-repeat -605px -805px;
}

#name {
	width: 180px;
	position: relative;
	top: -20px;
	left: 120px;
	font-size: 20px;
	font-weight: bold;
}

#points {
	position: relative;
	top: -45px;
	left: 375px;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	width: 150px;
}

#leaderboardAvatar {
	background-image: url("../images/UI/femaleAvatar.png");
	width: 60px;
	height: 60px;
	top: 15px;
	left: 10px;
	position: relative;
	display: inline-block;
}


#scoresArea {
	position: relative;
	top: 100px;
	left: 100px;
}

.score {
	height: 96px;
	width: 509px;
	background-color: transparent;
	background-image: url("../images/UI/score.png");
}

#createGame {
	/*createUnpressed*/
	top:0px;left:0px;
	width:199px;height:60px;background: url("../images/UI/lobby/lobby.png") no-repeat -574px -847px;
	height: 60px;
	left: 10px;
	position: absolute;
	border-width: 0px;
	top: 540px;
	width: 200px;
}

#createGame:hover {
	/*createHover*/
	width:199px;height:60px;background: url("../images/UI/lobby/lobby.png") no-repeat -574px -907px;
}

#createGame:active {
	/*createPressed*/
	width:184px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -773px -855px;
}


#singlePlayer {
	/*singleUnpressed*/
	top:0px;left:0px;
	width:261px;height:82px;background: url("../images/UI/lobby/lobby.png") no-repeat -344px -765px;
	height: 80px;
	left: 540px;
	position: absolute;
	border-width: 0px;
	top: 0px;
	width: 260px;
}

#singlePlayer:hover {
	/*singleHover*/
	width:261px;height:82px;background: url("../images/UI/lobby/lobby.png") no-repeat -344px -683px;
}

#singlePlayer:active {
	/*singlePressed*/
	width:230px;height:82px;background: url("../images/UI/lobby/lobby.png") no-repeat -344px -847px;
	left: 570px;
}

#createGamePopUp {
	/*createUnpressed*/
	top:0px;left:0px;
	width:199px;height:60px;background: url("../images/UI/lobby/lobby.png") no-repeat -574px -847px;
	height: 60px;
	left: 0px;
	position: relative;
	border-width: 0px;
	top: 30px;
	width: 200px;
}

#roomName {
	width: 200px;
}

#createGamePopUp:hover {
	/*createHover*/
	width:199px;height:60px;background: url("../images/UI/lobby/lobby.png") no-repeat -574px -907px;
}

#createGamePopUp:active {
	/*createPressed*/
	width:184px;height:51px;background: url("../images/UI/lobby/lobby.png") no-repeat -773px -855px;
}


#endSegmentation {
	width:182px;height:69px;background: url("../images/UI/game/game.png") no-repeat -0px -1329px;
	left:230px;
	position:absolute;
	border-width: 0px;
	top:500px;
}

#endSegmentation:hover {
	/*endHover*/
	width:182px;height:69px;background: url("../images/UI/game/game.png") no-repeat -0px -1200px;
}

#endSegmentation:active {
	/*endPressed*/
	width:182px;height:60px;background: url("../images/UI/game/game.png") no-repeat -0px -1269px;
}

#skipTask {
	/*skipUnpressed*/
	width:126px;height:51px;background: url("../images/UI/game/game.png") no-repeat -126px -1398px;
	height: 66px;
	left: 30px;
	position: absolute;
	border-width: 0px;
	top: 480px;
	width: 140px;
}

#skipTask:hover {
	/*skipHover*/
	width:126px;height:51px;background: url("../images/UI/game/game.png") no-repeat -0px -1398px;
}

#skipTask:active {
	/*skipPressed*/
	width:116px;height:45px;background: url("../images/UI/game/game.png") no-repeat -182px -1200px;
}

#pen {
	background: url("../images/UI/controls/pencil.png") no-repeat;
	height: 66px;
	left: 3px;
	position: absolute;
	border-width: 0px;
	top: 132px;
	width: 66px;
	background-size: cover;
}

#eraser {
	background: url("../images/UI/controls/eraserD.png") no-repeat;
	height: 66px;
	left: 3px;
	position: absolute;
	border-width: 0px;
	top: 203px;
	width: 66px;
	background-size: cover;
}

#wordInput {
	display: none;
	position: absolute;
	top: 530px;
	left: 235px;
}

#size {
	height: 100px;
	top: 280px;
	left: 20px;
	position: relative;
}

.picker {
	top: 300px;
	position: relative;
	left: 10px;
}

#join {
	/*joinUnpressed*/
	top:0px;left:0px;
	width:194px;height:61px;background: url("../images/UI/lobby/lobby.png") no-repeat -605px -683px;
	height: 66px;
	left: 10px;
	position: absolute;
	border-width: 0px;
	top: 480px;
	width: 190px;
}

#join:hover {
	/*joinHover*/
	width:194px;height:61px;background: url("../images/UI/lobby/lobby.png") no-repeat -605px -744px;
	border-width: 0px;
}

#join:active {
	/*joinPressed*/
	width:192px;height:49px;background: url("../images/UI/lobby/lobby.png") no-repeat -344px -929px;
	border-width: 0px;
}



#username:focus {
	box-shadow: -2px -2px 6px #B01AA6, -2px 2px 6px #B01AA6, 4px 2px 6px #B01AA6, 4px -2px 6px #B01AA6;
}

#chatPanel {
	overflow: hidden;
	position: absolute;
	z-index: 10;
	padding-left: 0px;
}

#warnTag {
	display: none;
	height: 200px !important;
	width: 200px !important;
	position: relative;
	top: -170px;
	left: 590px;
	top:1px;left:3px;
	width:344px;height:342px;background: url("../images/UI/lobby/lobby.png") no-repeat -0px -600px;
	z-index: 900;
	background-repeat: no-repeat;
	background-size: contain;
}

div.popup_cont {
	height: 350px !important;
	width: 350px !important;
	position: fixed;
	top: 25% !important;
	left: 40% !important;
	width:344px;height:342px;background: url("../images/UI/lobby/lobby.png") no-repeat -0px -600px;
}



.popup_cont .popup {
	background: rgba(0,0,0,0);
	padding: 25px;
	top: 50px;
	left: 50px;
	box-shadow: 0 3px 10px rgba(0,0,0,0);
	position: absolute;
}

.popup_content {
	position: absolute;
	height: 200px !important;
	width: 200px !important;
}

.lobbyChat {
	height: 490px;
	left: 340px;
	min-height: 160px;
	top: 150px;
	width: 270px;
}

.gameChat {
	height: 290px;
	left: 600px;
	min-height: 160px;
	top: 260px;
	width: 180px;
}

.gameRoom {
	left: 628px;
}

tr.highlight {
	background-color: #8888ff;
}

tr:hover {
	background-color: #8888ff
}

#gameList {
	position: absolute;
	width: 260px;
	top: 130px;
	left: 30px;
	height: 340px;
}

div.avatarIcon {
	list-style-type: none;
	background: url('../images/favicon.png') no-repeat top left;
	background-size: 40px 40px;
	height: 46px;
	width: 120px;
	word-wrap: break-word;
	padding-left: 40px;
	padding-top: 10px;
	color: black;
	font-weight: bold;
}

div.avatarChat {
	list-style-type: none;
	background: url('../images/favicon.png') no-repeat top left;
	background-size: 20px 20px;
	height: 46px;
	width: 120px;
	word-wrap: break-word;
	padding-left: 10px;
	padding-top: 0px;
	color: black;
}

.userList {
	position: absolute;
	height: 290px;
	left: 620px;
	min-height: 160px;
	top: 140px;
	width: 180px;
}

#onError, #onChat {
	display: none;
}

#error {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-top: 10%;
}

.error {
	padding: 1px 8px;
	background-color: #f00;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border-radius: 8px;
	font-size: 1.4em;
	font-weight: bold;
}

#viewport {
	width: 500px;
	height: 450px;
	top: -439.5px;
	left: 89.5px;
	position: relative;
}

#gameMessagesSpan {
	width: 500px;
	height: 50px;
	left: 89.5px;
	background: white;
	position: relative;
}

#positions {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 5;
}

#me {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 4;
}

#draws {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 3;
}

#task {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 2;
}

#canvaswindows {
	position: absolute;
	top: 580px;
	width: 420px;
	height: 350px;
}

#currentNickname {
	width: 110px;
	height: 30px;
	left: 680px;
	position: absolute;
	top: 84px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#topMessage {
	width: 380px;
	height: 30px;
	left: 108px;
	position: absolute;
	top: 40px;
	text-align: center;
}

#topMessage font b{font-size:20px}
#topMessage font b .ico{
    position: relative;
    top: 0;
    float: right;
    right: 100px;
    width: 50px;
    height: 50px;
}

#canvasMessage {
	display: none;
	width: 380px;
	height: 30px;
	left: 108px;
	position: absolute;
	top: 350px;
	text-align: center;
	z-index: 900;
}

#warnPre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 1.428571429;
	color: #333;
	word-break: break-word;
	word-wrap: break-word;
	background-color: rgba(0, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	width: 150px;
	height: 100px;
	top: 20px;
	left: 40px;
	position: relative;
	background: url('../images/UI/lobby/lobby.png') no-repeat scroll 0px -600px transparent;
}

#canvasPre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 1.428571429;
	color: #333;
	word-break: break-word;
	word-wrap: break-word;
	background-color: rgba(0, 0, 0, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	/*width: 300px;*/
	height: 100px;
	/*left: 40px;*/
    top: -70px;
	position: relative;
}

#timeCounter {
	width: 200px;
	height: 30px;
	left: -10px;
	position: absolute;
	top: 540px;
	text-align: center;
}
#timeCounter font b {
    font-size-adjust: 20px;
}
#hudArea {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	display: none;
}

#gameArea {
	width: 580px;
}

.playername {
	position: absolute;
	right: 20px;
	z-index: 20;
}

#wrapper {
	margin: 0px 20px;
}

#main {
	margin: 20px auto;
	width: 500px;
}

footer {
	text-align: center;
	padding: 10px 0;
}

.lobbyMessages {
	height: 330px!important;
}

#unorderedUserList{
	height: 330px!important;
	width: 150px!important;
	position: absolute;
	left: 30px;
}

#messages {
	position: absolute;
	height: 265px;
	top: 10px;
	overflow-y: scroll;
}

#talk {
	position: absolute;
	background-color: transparent;
	border-color: transparent;
	z-index: 11;
	height: 35px;
    line-height: 30px;
	resize: none;
    overflow: hidden;
}

#talk.lobbyTalk{
    top:502px;
}

#talk::-webkit-input-placeholder {

}

#talk:-moz-placeholder { /* Firefox 18- */

}

#talk::-moz-placeholder {  /* Firefox 19+ */

}

#talk:-ms-input-placeholder {

}

.lobbyTalk {
	left: 345px;
	width: 250px;
	top: 508px;
}

.gameTalk {
	left: 605px;
	width: 170px;
	top: 536px;
}


.message {
    display: inline-block;
    height: auto;
    margin-bottom: 10px;
    padding: 4px 0;
    position: relative;
}

.message .avatarChat p{
    margin-left: -10px;
}


.message span {
	width: 90px;
	overflow: hidden;
	text-align: right;
	font-weight: bold;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -1px;
}

.message p {
	display: inline-block;
	margin: 0;
	width: 150px;
	word-wrap: break-word;
}


.message.talkError p {
	color: #FF0000;
	font-weight: bold;
}

.message.talkWarning p {
	color: #FE9A2E;
	font-weight: bold;
}

.message.talkNear p {
	color: #9FF781;
	font-weight: bold;
}

div#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}


#mainPage.sketcher {
	top:0px;left:0px;
	width:800px;height:600px;background: url("../images/UI/game/game.png") no-repeat -0px -600px;
}

#mainPage.guesser {
	/*guesser*/
	top:0px;left:0px;
	width:800px;height:600px;background: url("../images/UI/game/game.png") no-repeat -0px -0px;
}


/* Styles specific to this particular page */
.jscroll,
.scroll-pane-arrows {
	width: 100%;
	height: 200px;
	overflow: auto;
}

.horizontal-only {
	height: auto;
	max-height: 200px;
}

.cold{
    color: #FF0000;
    font-weight: bold;
}

.warm{
    color: #FE9A2E;
    font-weight: bold;
}

.hot{
    color: #9FF781;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#catSelector{
    position: absolute;
    top: 508px;
    left: 210px;
    width: 210px;
    height: 70px;
    overflow: hidden;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

#catSelector button{
    width: 70px;
    height: 70px;
    border: none;
    display: block;
    float:left;
    /*background-color: #002a80;*/
    margin: 0;
    cursor: pointer;
}

#catSelector button#cat1{
    background: url('../images/UI/icon/cat1.jpg') center no-repeat;
    background-size: cover;
}
#catSelector button#cat1:hover{
    background: url('../images/UI/icon/cat1-on.jpg') center no-repeat;
    background-size: cover;
}

#catSelector button#cat2{
    background: url('../images/UI/icon/cat2.jpg') center no-repeat;
    background-size: cover;
}
#catSelector button#cat2:hover{
    background: url('../images/UI/icon/cat2-on.jpg') center no-repeat;
    background-size: cover;
}

#catSelector button#cat3{
    background: url('../images/UI/icon/cat3.jpg') center no-repeat;
    background-size: cover;
}
#catSelector button#cat3:hover{
    background: url('../images/UI/icon/cat3-on.jpg') center no-repeat;
    background-size: cover;
}

#catContainer{
    position: absolute;
    top: 250px;
    left: 530px;
    z-index: 1000;
    /*background: url('../images/login/bg-error.png') 0 0 repeat;*/
    height: 348px;
    width: 270px;
    display: none;
}

#catContainer #catContainer-wrap{
    width: 270px;
    height: 348px;
    position: absolute;
    left: 0;
    top:0;
    background: url("../images/UI/bg-catcontainer-dx.png");
    background-size: cover;
}

#catContainer #catContainer-wrap #catContainer-container{
    margin: 10px;

}

#catContainer #catContainer-wrap #catContainer-container #catContainer-title{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}

#catContainer #catContainer-wrap #catContainer-container #catContainer-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    left: 210px;
    border: none;
    background: url('../images/login/close-error.png') 0 0 no-repeat;
    cursor: pointer;
    z-index: 2000;
}

#catContainer #catContainer-wrap #catContainer-container #catContainer-icons{
    position: absolute;
    top: 75px;
    margin: 0 5px;
    overflow: hidden;
    height: 250px;
}

.ico-chat-container{
    width: 100%;
    text-align: center;
    height: 55px;
    overflow: hidden;
}

.ico-chat-container .ico_chat{
    width: 50px;
    height: 50px;
    /*cursor: pointer;*/
    margin: 5px 0 0 0;
    border:0;
    display: inline-block;
    border-spacing: 0;
    background-size: cover;
}

.ico{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 0;
    border:0;
    display: block;
    float: left;
    border-spacing: 0;
    background-size: cover;
}

.ico.dress, .ico_chat.dress{
    background: url('../images/UI/icon/abito.jpg') center no-repeat;
    background-size: cover;
}
.ico.dress:hover{
    background: url('../images/UI/icon/abito-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.ring,.ico_chat.ring{
    background: url('../images/UI/icon/anello.jpg') center no-repeat;
    background-size: cover;
}
.ico.ring:hover{
    background: url('../images/UI/icon/anello-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.purse,.ico_chat.purse{
    background: url('../images/UI/icon/borsetta.jpg') center no-repeat;
    background-size: cover;
}
.ico.purse:hover{
    background: url('../images/UI/icon/borsetta-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.handbag,.ico_chat.handbag{
    background: url('../images/UI/icon/borsa.jpg') center no-repeat;
    background-size: cover;
}
.ico.handbag:hover{
    background: url('../images/UI/icon/borsa-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.hat,.ico_chat.hat{
    background: url('../images/UI/icon/cappello.jpg') center no-repeat;
    background-size: cover;
}
.ico.hat:hover{
    background: url('../images/UI/icon/cappello-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.cardigan,.ico_chat.cardigan{
    background: url('../images/UI/icon/cardigan.jpg') center no-repeat;
    background-size: cover;
}
.ico.cardigan:hover{
    background: url('../images/UI/icon/cardigan-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.necklace,.ico_chat.necklace{
    background: url('../images/UI/icon/collana.jpg') center no-repeat;
    background-size: cover;
}
.ico.necklace:hover{
    background: url('../images/UI/icon/collana-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.tie,.ico_chat.tie{
    background: url('../images/UI/icon/cravatta.jpg') center no-repeat;
    background-size: cover;
}
.ico.tie:hover{
    background: url('../images/UI/icon/cravatta-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.vest,.ico_chat.vest{
    background: url('../images/UI/icon/gilet.jpg') center no-repeat;
    background-size: cover;
}
.ico.vest:hover{
    background: url('../images/UI/icon/gilet-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.skirt, .ico_chat.skirt{
    background: url('../images/UI/icon/gonna.jpg') center no-repeat;
    background-size: cover;
}
.ico.skirt:hover{
    background: url('../images/UI/icon/gonna-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.gloves, .ico_chat.gloves{
    background: url('../images/UI/icon/guanti.jpg') center no-repeat;
    background-size: cover;
}
.ico.gloves:hover{
    background: url('../images/UI/icon/guanti-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.shirt,.ico_chat.shirt{
    background: url('../images/UI/icon/maglia.jpg') center no-repeat;
    background-size: cover;
}
.ico.shirt:hover{
    background: url('../images/UI/icon/maglia-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.glasses, .ico_chat.glasses{
    background: url('../images/UI/icon/occhiali.jpg') center no-repeat;
    background-size: cover;
}
.ico.glasses:hover{
    background: url('../images/UI/icon/occhiali-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.watch,.ico_chat.watch{
    background: url('../images/UI/icon/orologio.jpg') center no-repeat;
    background-size: cover;
}
.ico.watch:hover{
    background: url('../images/UI/icon/orologio-on.jpg') center no-repeat;
    background-size: cover;
}
.ico.shorts,.ico_chat.shorts{
    background: url('../images/UI/icon/pantaloncini.jpg') center no-repeat;
    background-size: cover;
}
.ico.shorts:hover{
    background: url('../images/UI/icon/pantaloncini-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.trousers,.ico_chat.trousers{
    background: url('../images/UI/icon/pantaloni.jpg') center no-repeat;
    background-size: cover;
}
.ico.trousers:hover{
    background: url('../images/UI/icon/pantaloni-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.wallet,.ico_chat.wallet{
    background: url('../images/UI/icon/portafoglio.jpg') center no-repeat;
    background-size: cover;
}
.ico.wallet:hover{
    background: url('../images/UI/icon/portafoglio-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.bra, .ico_chat.bra{
    background: url('../images/UI/icon/reggiseno.jpg') center no-repeat;
    background-size: cover;
}
.ico.bra:hover{
    background: url('../images/UI/icon/reggiseno-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.shoes,.ico_chat.shoes{
    background: url('../images/UI/icon/scarpe.jpg') center no-repeat;
    background-size: cover;
}
.ico.shoes:hover{
    background: url('../images/UI/icon/scarpe-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.t-shirt,.ico_chat.t-shirt{
    background: url('../images/UI/icon/t-shirt.jpg') center no-repeat;
    background-size: cover;
}
.ico.t-shirt:hover{
    background: url('../images/UI/icon/t-shirt-on.jpg') center no-repeat;
    background-size: cover;
}
/**/
.ico.bracelet,.ico_chat.bracelet{
    background: url('../images/UI/icon/bracciale.jpg') center no-repeat;
    background-size: cover;
}
.ico.bracelet:hover{
    background: url('../images/UI/icon/bracciale-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.coat,.ico_chat.coat{
    background: url('../images/UI/icon/cappotto.jpg') center no-repeat;
    background-size: cover;
}
.ico.coat:hover{
    background: url('../images/UI/icon/cappotto-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.cape,.ico_chat.cape{
    background: url('../images/UI/icon/mantello.jpg') center no-repeat;
    background-size: cover;
}
.ico.cape:hover{
    background: url('../images/UI/icon/mantello-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.boots,.ico_chat.boots{
    background: url('../images/UI/icon/stivali.jpg') center no-repeat;
    background-size: cover;
}
.ico.boots:hover{
    background: url('../images/UI/icon/stivali-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.tights,.ico_chat.tights{
    background: url('../images/UI/icon/collant.jpg') center no-repeat;
    background-size: cover;
}
.ico.tights:hover{
    background: url('../images/UI/icon/collant-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.scarf,.ico_chat.scarf{
    background: url('../images/UI/icon/sciarpa.jpg') center no-repeat;
    background-size: cover;
}
.ico.scarf:hover{
    background: url('../images/UI/icon/sciarpa-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.jacket,.ico_chat.jacket{
    background: url('../images/UI/icon/giacca.jpg') center no-repeat;
    background-size: cover;
}
.ico.jacket:hover{
    background: url('../images/UI/icon/giacca-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.blouse,.ico_chat.blouse{
    background: url('../images/UI/icon/camicetta.jpg') center no-repeat;
    background-size: cover;
}
.ico.blouse:hover{
    background: url('../images/UI/icon/camicetta-on.jpg') center no-repeat;
    background-size: cover;
}

.ico.dungarees,.ico_chat.dungarees{
    background: url('../images/UI/icon/salopette.jpg') center no-repeat;
    background-size: cover;
}
.ico.dungarees:hover{
    background: url('../images/UI/icon/salopette-on.jpg') center no-repeat;
    background-size: cover;
}
.ico.socks,.ico_chat.socks{
    background: url('../images/UI/icon/calzini.jpg') center no-repeat;
    background-size: cover;
}
.ico.socks:hover{
    background: url('../images/UI/icon/calzini-on.jpg') center no-repeat;
    background-size: cover;
}

#other-palyer{
    position: absolute;
    width: 190px;
    height: 40px;
    top: 184px;
    left: 600px;
    overflow: hidden;
}

#other-palyer .player{
    display: inline-block;
    width: 30px; height: 40px;
    position: relative;
    top: 4px;
}

#other-palyer #player2{
    left: 10px;
}

#other-palyer #player3{
    left: 24px;
}

#other-palyer #player4{
    left: 36px;
}

#other-palyer #player5{
    left: 50px;
}