@(username: String)(env: PaintRoom)

@main(username) {    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops! </strong><span></span>
        </p>
    </div>
    
    <div id="mainPage">
		<div id="gameArea" class="span10">  
			  <span id="viewport">
				  <canvas id="me" width="460px" height="370px"></canvas>
				  <canvas id="positions" width="460px" height="370px"></canvas>
				  <canvas id="draws" width="460px" height="370px"></canvas>
                  <canvas id="task" width="460px" height="370px"></canvas>
			  </span>
		</div>
        <div id="chatPanel" class="span4">
            <div id="messages">
            </div>
		</div>
		<div id="hudArea">
			<canvas id="hud" width="800px" height="300px"></canvas>
		</div>
		<textarea id="talk"></textarea>
		<div id="currentNickname">@username</div>
		<div id="opponent1"></div>
		<div id="opponent2"></div>
		<div id="opponent3"></div>
		<div id="opponent4"></div>
	
	<script type="text/javascript">
			(function() {
                            
                                        function setError (message) {
                                            $("#onError span").text(message)
                                            $("#onError").show()
                                            $("#pageheader").hide()
                                            $("#mainPage").hide()
                                        }
                                        
                                        if (!window.WebSocket) {
                                            if (!window.MozWebSocket)
                                            {
                                                setError("WebSockets are not supported by your browser.");
                                                return;
                                            }
                                        }

                                        if (!(function(e){return e.getContext && e.getContext('2d')}(document.getElementById("me")))) {
                                            setError("Canvas is not supported by your browser.");
                                            return;
                                        }
                                        
                                        
                                        
					var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
					var chatSocket = new WS("@routes.Application.chat(username).webSocketURL(request)")
					
					var sendMessage = function() {
						chatSocket.send(JSON.stringify(
							{text: $("#talk").val()}
						))
						$("#talk").val('')
						$("#messages").animate({scrollTop:$("#messages")[0].scrollHeight}, 1000);
					}
					
					var receiveEvent = function(event) {
						var data = JSON.parse(event.data)
					
						// Handle errors
						if(data.error) {
							chatSocket.close()
							$("#onError span").text(data.error)
							$("#onError").show()
							$("#pageheader").hide()
                                                        $("#mainPage").hide()
							return
						} else {
							$("#onChat").show()
						}
						
						// Create the message element
						var el = $('<div class="message"><span></span><p></p></div>')
						$("span", el).text(data.user)
						$("p", el).text(data.message)
						$(el).addClass(data.kind)
						if(data.user == '@username') $(el).addClass('me')
						$('#messages').append(el)
						
						// Update the members list
						var userCounter=0;
						$(data.members).each(function() {
							 if(this != '@username')
							 {
								userCounter++;
								$("#opponent"+userCounter).text(this);
							}
						})
					}
					
					var handleReturnKey = function(e) {
						if(e.charCode == 13 || e.keyCode == 13) {
							e.preventDefault()
							sendMessage()
						} 
					}
					
					$("#talk").keypress(handleReturnKey) 
					
					chatSocket.onmessage = receiveEvent
					
		})()
	</script>
	<script type="text/javascript" src="/assets/javascripts/paint.js"></script>
	</div>
}
