
@main(null) {
    
    @if(flash.containsKey("error")) {
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        
    }
	
        
    <div class="backgroundimage" onLoad="javascript:preloader()">
        <a class="brand" href="@routes.Application.index()"></a>
			<form id="loginForm" action="@routes.Application.chatRoom()">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <button id="login" type="submit"></button>
            </form>
			<form id="socialNetworks" action="@routes.Application.chatRoom()">
                            <button id="facebook" class="social-network" type="submit"></button>
							<button id="twitter"  class="social-network" type="submit"></button>
            </form>
    </div>
	
	
	<div id="preloaded-images">
	   <img src="../images/UI/loginUnpressed.png" width="1" height="1" alt="loginUnpressed" />
	   <img src="../images/UI/loginPressed.png" width="1" height="1" alt="loginPressed" />
	   <img src="../images/UI/loginHover.png" width="1" height="1" alt="loginHover" />
	   <img src="../images/UI/facebook.png" width="1" height="1" alt="facebookUnpressed" />
	</div>
}