
<!DOCTYPE html>

<html>
    <head>
        <title>Sketchness!</title>
        
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Sketchness</a>
                    
                    <a href="http://www.facebook.com/dialog/oauth?client_id=487076421325786&redirect_uri=http://localhost:9000/test&scope=email">Facebook Login</a>
                    
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
            </div>

            <footer>
                <p>
                    <a href="http://www.cubrikproject.eu/">The CUbRIK Project</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
