@(connected: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Sketchness!</title>
        
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<!-- styles needed by jScrollPane -->
		<link type="text/css" href="@routes.Assets.at("stylesheets/jquery.jscrollpane.css")" rel="stylesheet" media="all" />

		<!-- the mousewheel plugin - optional to provide mousewheel support -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.mousewheel.js")"></script>

		<!-- the jScrollPane script -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jscrollpane.min.js")"></script>

    </head>
    <body>
        


        <div class="content">
			@content
        </div>
        
    </body>
</html>
