@main2(Messages("playauthenticate.verify.email.title")) {
	<div id="unverified-scroll">
		<h1 style="padding-top:40px;padding-left:80px;">@Messages("playauthenticate.verify.email.title")</h1>
		<p style="padding-top:20px;padding-left:60px;">
			@Messages("playauthenticate.verify.email.requirement1")</br>
			@Messages("playauthenticate.verify.email.requirement2")</br>
			@Messages("playauthenticate.verify.email.cta1")</br>
			@Messages("playauthenticate.verify.email.cta2")<br/>
			@Messages("playauthenticate.verify.email.cta3")<br/>
			<br/>
		</p>
	</div>
	<a href="@routes.Sketchness.index()"> <button type="submit" id="back"></button></a>
}