@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@main2(Messages("playauthenticate.change.password.title")) {

	<!-- <h1>@Messages("playauthenticate.change.password.title")</h1>   -->

<script>
    window.onload=function(){
    document.getElementById("ProfileImage").src="../../assets/images/registration/nation.png";

    };
</script>

	<p>

        <form action="@routes.Account.doChangePassword()" method="POST" style="padding-top:100px;padding-left:135px">
                @if(changeForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-important">@changeForm.globalError.message</span>
                </p>
            }


            <div id="password-container" class="div-input-signup">
                @inputPassword(
                changeForm("password"),
                '_id -> "password",
                'placeholder -> Messages("playauthenticate.login.password.placeholder")
                )
            </div>



            <div id="repeated-password-container" class="div-input-signup">
                @inputPassword(
                changeForm("RepeatPassword"),
                '_id -> "repeatPassword",
                'placeholder -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> changeForm.error("password")
                )
            </div>

        <input type="submit" id="endInput" class="signup-submit" value="" style="margin-top:35px;margin-left:70px" >

</form>


	</p>

	<a href="@routes.Application.profile"> <button type="submit" id="back"></button>        </a>
}