
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Sketchness AdminUI</title>
       
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/style.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/dropkick.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/blank_theme.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap-theme.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap-theme.css.map")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap-theme.min.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap.css.map")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap-responsive.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/bootstrap/bootstrap-responsive.min.css")">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/ResponsiveFullWidthGrid/default.css")" >
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/renderer/ResponsiveFullWidthGrid/component.css")">
		<script src="js/modernizr.custom.js"></script>
    </head>
    <body class="cf">
    @header(title = "Images") {
    
    	
  		<input type="text" id="ImgAttivattiva" style="display:none;"/>
        <input type="text" id="TaskAttivo" style="display:none;"/>
        <input type="text" id="mediaLocator" style="display:none;"/>
        <input type="text" id="ImgPreview" style="display:none;"/>
        
		<div class="imageDiv" style="display:none;"></div>
		<div class="span12">
			<table id="imageInfo" class="infoTable" style="display:none;">
						<tr>
							<td class="infoLabel">Id:</td>
							<td class="infoValue" id="imageId"></td>
						</tr>
						<tr>
							<td class="infoLabel">Width:</td>
							<td class="infoValue" id="imageWidth"></td>
						</tr>
						<tr>
							<td class="infoLabel">Height:</td>
							<td class="infoValue" id="imageHeight"></td>
						</tr>
						<tr>
							<td class="infoLabel">Annotations:</td>
							<td class="infoValue" id="imageAnnotations"></td>
						</tr>
			</table>
			<table id='imageTags' class='infoTable' style='display:none;'>
			</table>
			<div class = "createTask"></div>
		</div>
	
		<div id="tagTitle" class="panelTitle" style="display:none;"></div>
		<div class="span12" id="maskButtons"></div>
        <div id="drawArea" class="span12" style="display:none;">
                <div id="chart_div1"></div>
                <div id="chart_div2"></div>

                <div id="viewport">
					<span id="canvaswindows">
						<canvas id="draws" style="position:absolute;z-index:3;"></canvas>
						<canvas id="task" ></canvas>
					</span>
	                <span id="canvasmasknew">
	                    <canvas id="maskNew" style="position:absolute;z-index:3;"></canvas>
					</span>
	                <span id="canvasmask">
	                    <canvas id="mask" style="position:absolute;z-index:3;"></canvas>
					</span>
					<span id="canvasmaskfashion">
						 <canvas id="maskFashion" style="position:absolute;z-index:3;"></canvas>
					</span>
        		</div>
		</div>
		

		<div class = "imagesCont">
                	<div class="panelTitle">Images</div>
					<form action="#" method="get" id="filterFormImage" >
						<div class="input-group">
							<input id="system-search" type='text' name="imageIdSearch" placeholder='Image Id'> 
							<a class='btn' onclick="filter();"><i class='icon-search'></i><strong> Search</strong></a>
							<span class="range"> 
								<input id="slider" type="range" name="range" min="1" max="100" value="50" onchange="numberAnnotations();"> 
								<input type="text" id="maxAnn" style="display:none;"/>
							</span>
							<a class='btn' id="reset" onclick="repopolate();"><i class='icon-remove-circle'></i><strong> Reset</strong></a>
						</div>
					</form>
					
					<div id="collectionList" class="checkbox"></div>
      						<span class="input-group-btn">
								<a class='btn' onclick="visualizzaCollection();"><i class='icon-search'></i><strong> Filter collection</strong></a>
      						</span>
					<ul id="imageList" class="cbp-rfgrid"></ul>  
        </div>

  	}

	</body>
    <script src="@routes.Assets.at("javascripts/renderer/jquery/jquery-1.10.2.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/loadMask.js")?nocache=@(new Date().getTime())"></script>
	<script src="@routes.Assets.at("javascripts/renderer/invalidateTag.js")?nocache=@(new Date().getTime())"></script>
    <script src="@routes.Assets.at("javascripts/renderer/jquery/jquery.dropkick-min.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/jquery/jAjax.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/visualizzaImg.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/popolaSelectionAjax.js")"></script>
	<script src="@routes.Assets.at("javascripts/renderer/visualizzaImgAjax.js")?nocache=@(new Date().getTime())"></script>
    <script src="@routes.Assets.at("javascripts/renderer/popolaTask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/visualizzaUTask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/nuovoTask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/nuovoUTask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/caricaStatistiche.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/chiudiTask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/loadFirstGraph.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/loadSecondGraph.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/FileSaver.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/download.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/imgPreview.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/visualizzaCollection.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/newMask.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/loadMaskFashionista.js")"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="@routes.Assets.at("javascripts/renderer/bootstrap/boostrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/bootstrap/boostrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/renderer/ResponsiveFullWidthGrid/modernizr.custom.js")"></script>
    <script>google.load('visualization', '1', {'packages':['corechart']});</script>
    <script>

        window.onload = function(){
            popolaSelectionAjax();

        };
    </script>
    
</html>