@(username: String, room: String)


 <!-- CLEANED CODE-->
@main(username, room) {
    <!--TODO: BETTER INTERFACE FOR THE ERRORS, POSSIBLY AN OVERLAY-->
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops! </strong><span></span>
        </p>
    </div>
    
    <div id="mainPage">
        
        <!--THIS IS THE AREA IN WHICH THE DRAWINGS ARE MADE-->
        <div id="gameArea" class="span10">
            <span id="viewport">
                <!-- CANVAS USED TO STORE THE LAST DRAWING SEGMENT-->
                <canvas id="me" width="460" height="370"></canvas>
                <!-- CANVAS TO TRACK THE POSITION OF THE DRAWING PLAYER-->
                <canvas id="positions" width="460" height="370"></canvas>
                <!-- CANVAS TO STORE THE ENTIRE DRAWINGS DONE SO FAR-->
                <canvas id="draws" width="460" height="370"></canvas>
                <!-- CANVAS USED TO SHOW THE IMAGE-->
                <canvas id="task" width="460" height="370"></canvas>
            </span>
        </div>
        
        
        <div id="chatPanel" class="span4">
            <div id="messages" class="jscroll scroll-pane-arrows jspScrollable">
            </div>
        </div>
        <textarea id="talk">Scrivi un messaggio qui...</textarea>
        
        
        <!-- A SIMPLE CANVAS USED AS AN HUD TO DRAW TOOLS-->
        <div id="hudArea">
            <canvas id="hud" width="800" height="300"></canvas>
        </div>
        
        <!--MESSAGES AND SCORES FOR THE PLAYERS-->
        <div id="topMessage"></div>
        <div id="score">100</div>

        <!--HANDLING ALL THE USERS CURRENTLY CONNECTED-->
        <div id="currentNickname">@username</div>
        <div id="opponent1"></div>
        <div id="opponent2"></div>
        <div id="opponent3"></div>
        <div id="opponent4"></div>

        <!--WE CAN'T USE ROUTES IN STATIC JAVASCRIPT, SO WE MUST REFERENCE THEM OUTSIDE-->
        <div id="websocket" data-ws="@routes.Sketchness.chat(username,room).webSocketURL(request)">
            
        <script type="text/javascript" src="/assets/javascripts/chat.js"></script>
        
         
        <script type="text/javascript" src="/assets/javascripts/paint.js"></script>

        <!--HANDLE DEFAULT VALUES FOR TEXT AREA-->
        <script type="text/javascript">
            $("#talk").focus(function() {

                if( $(this).val() == "Scrivi un messaggio qui..." ) {
                $(this).val("");
                }

            });
            
            $("#talk").blur(function() {

                if( $(this).val() == "" ) {
                $(this).val("Scrivi un messaggio qui...");
                }

            });
        </script>
</div>
}