@(localUser: models.User = null, room: String, players: Integer)

@import controllers.routes.javascript._

@main(Messages("playauthenticate.navigation.gameRoom"), "GameRoom") {
	<!--TODO: BETTER INTERFACE FOR THE ERRORS, POSSIBLY AN OVERLAY-->
	<!--  <div id="onError" class="alert-message error">
		<p>
			<strong>Oops! </strong><span></span>
		</p>
	</div> -->

	<div id="mainPage">

		<!--THIS IS THE AREA IN WHICH THE DRAWINGS ARE MADE-->
		<div id="gameArea" class="span10">
			<div id="viewport">
				<div id="canvaswindows">
					<!-- CANVAS USED TO STORE THE LAST DRAWING SEGMENT-->
					<canvas id="me" width="420" height="350"></canvas>
					<!-- CANVAS TO TRACK THE POSITION OF THE DRAWING PLAYER-->
					<canvas id="positions" width="420" height="350"></canvas>
					<!-- CANVAS TO STORE THE ENTIRE DRAWINGS DONE SO FAR-->
					<canvas id="draws" width="420" height="350"></canvas>
					<!-- CANVAS USED TO SHOW THE IMAGE-->
					<canvas id="task" width="420" height="350"></canvas>
				</div>
			</div>

            <button id="pen" style="display:none"></button>
            <button id="eraser" style="display:none"></button>
			<button id="skipTask" style="display:none"></button>
			<button id="endSegmentation" style="display:none"></button>
            <div id="catSelector">
                <button id="cat1"></button>
                <button id="cat2"></button>
                <button id="cat3"></button>
            </div>
			<!--
            <input type="text" id="wordInput" placeholder="@Messages("wordInput")" style="display:none"/>
            -->
		</div>
        <div id="other-palyer">
            <div id="player2" class="player"></div>
            <div id="player3" class="player"></div>
            <div id="player4" class="player"></div>
            <div id="player5" class="player"></div>
        </div>
        <div id="catContainer">
            <div id="catContainer-wrap">
                <div id="catContainer-container">
                    <div id="catContainer-close"></div>
                    <h1 id="catContainer-title">Choose an element</h1>
                    <div id="catContainer-icons">
                        <!-- Accessori -->
                        <div id="ico1" class="icons">
                            <a href="#" class="ico bracelet"></a>
                            <a href="#" class="ico boots"></a>
                            <a href="#" class="ico scarf"></a>
                            <a href="#" class="ico gloves"></a>
                            <a href="#" class="ico ring"></a>
                            <a href="#" class="ico wallet"></a>
                            <a href="#" class="ico watch"></a>
                            <a href="#" class="ico shoes"></a>
                            <a href="#" class="ico handbag"></a>
                            <a href="#" class="ico tie"></a>
                            <a href="#" class="ico hat"></a>
                            <a href="#" class="ico purse"></a>
                            <a href="#" class="ico glasses"></a>
                            <a href="#" class="ico necklace"></a>
                        </div>
                        <!-- Alta -->
                        <div id="ico2" class="icons">
                            <a href="#" class="ico t-shirt"></a>
                            <a href="#" class="ico vest"></a>
                            <a href="#" class="ico cardigan"></a>
                            <a href="#" class="ico dress"></a>
                            <a href="#" class="ico jersey"></a>
                            <a href="#" class="ico bra"></a>
                            <a href="#" class="ico cape"></a>
                            <a href="#" class="ico coat"></a>
                            <a href="#" class="ico jacket"></a>
                            <a href="#" class="ico blouse"></a>
                        </div>
                        <!-- Bassa -->
                        <div id="ico3" class="icons">
                            <a href="#" class="ico trousers"></a>
                            <a href="#" class="ico dungarees"></a>
                            <a href="#" class="ico shorts"></a>
                            <a href="#" class="ico skirt"></a>
                            <a href="#" class="ico tights"></a>
                            <a href="#" class="ico socks"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div id="chatPanel" class="gameRoom gameChat">
			<div id="messages" class="jscroll scroll-pane-arrows jspScrollable">
			</div>
		</div>
		<input type="text" id="talk" class="gameTalk" placeholder="@Messages("text_area_message")"/>


		<!-- A SIMPLE CANVAS USED AS AN HUD TO DRAW TOOLS-->
		<div id="hudArea">
                    <div id="size" name="size" id="size"></div>
                    <input type='text' id="picker" />
                </div>

		<!--MESSAGES AND SCORES FOR THE PLAYERS-->
		<div id="topMessage"></div>
		<div id="timeCounter"></div>
        <div id="canvasMessage"></div>
        <div id="scoreBaloon">
            <div id="score"></div>
        </div>
        <div id="warnTag" style="display:none"><pre id="warnPre"></pre></div>

		<!--HANDLING ALL THE USERS CURRENTLY CONNECTED-->
        <div id="currentAvatar"></div>
		<div id="currentNickname">@localUser.name</div>
		<ul id="opponents"></ul>

		<!--WE CAN'T USE ROUTES IN STATIC JAVASCRIPT, SO WE MUST REFERENCE THEM OUTSIDE-->
		<div id="paintWebSocket" data-ws="@routes.Sketchness.gameStream(room,players).webSocketURL()"></div>

		<script type="text/javascript" src="/assets/javascripts/paint.js"></script>
                
        <script type="text/javascript" src="@routes.JavascriptController.javascriptRoutes"></script>

		<!-- DISABLE THE REFRESH BUTTON-->
		<script type="text/javascript">
			// To disable f5
			require(["jquery"], function($) {
				$(document).on("keydown", function (e) {
					if (e.which == 116) e.preventDefault();
				});
			});
		</script>
        
		<!-- BACK BUTTON IN THE GAME
			<form id="backForm" action="@routes.Sketchness.lobby()">
				<input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />      
				<a href="@routes.Sketchness.lobby()"><button type="submit" id="backToLobby"></button></a> 
			</form>          
		-->
</div>
}
