@(username: String, result: String)

@main(username,null) {

	<div class="leaderboardpage">
		<div id="scoresArea">
			@if(flash.containsKey("score1")){<div id="score1" class="score"><div id="leaderboardAvatar"></div><div id="name">@flash.get("name1")</div><div id="points">@flash.get("points1") points</div></div>}
			@if(flash.containsKey("score2")){<div id="score2" class="score"><div id="leaderboardAvatar"></div><div id="name">@flash.get("name2")</div><div id="points">@flash.get("points2") points</div></div>}
			@if(flash.containsKey("score3")){<div id="score3" class="score"><div id="leaderboardAvatar"></div><div id="name">@flash.get("name3")</div><div id="points">@flash.get("points3") points</div></div>}
			@if(flash.containsKey("score4")){<div id="score4" class="score"><div id="leaderboardAvatar"></div><div id="name">@flash.get("name4")</div><div id="points">@flash.get("points4") points</div></div>}
		</div>
            <a href="@routes.Sketchness.lobby()"><button type="submit" id="tolobby"></button></a>
        </div>  
	</div>
}
