@(localUser: models.User = null)


@main(Messages("playauthenticate.navigation.lobby"), "lobby") {
	<!--TODO: BETTER INTERFACE FOR THE ERRORS, POSSIBLY AN OVERLAY-->
	<div id="onError" class="alert-message error">
		<p>
			<strong>Oops! </strong>
			<span></span>
		</p>
	</div>
        <div id="currentNickname">@localUser.name</div>
	<div class="lobbypage">


        <div id="ProfileContenitor" class="btn-group">
            <img id="ProfileImage" src="../assets/images/registration/nation.png"/>
            <a id="ProfileLink" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> @localUser.name
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
                <li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.doLogout"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
            </ul>

        </div>


		<div id="chatPanel" class="span4 lobbyChat">
			<div id="messages" class="jscroll scroll-pane-arrows jspScrollable lobbyMessages"></div>
		</div>
		<textarea id="talk" class="lobbyTalk"></textarea>

		<div class="userList">
			<ul id="unorderedUserList" class="jscroll scroll-pane-arrows jspScrollable"></ul>
		</div>

		<table class="gameList" id="gameList">
			<thead>
				<tr class="head">
					<th>Title</th>
					<th>Players</th>
				</tr>
			</thead>
			<tbody id="gameListBody" class="jscroll scroll-pane-arrows jspScrollable"></tbody>
		</table>
            <form id="joinGame" method="POST" action="@routes.Sketchness.gameRoom()">
                      <!--      <input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />       -->
		<!--	<input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />       -->
			<input id="roomId" name="room" class="input-small" type="hidden" value="" />
			<button id="join" type="submit"></button>
		</form>
            <!-- <form id="backForm" action="@routes.Sketchness.index()">       -->
                <a href="@routes.Application.doLogout"> <button type="submit" id="back"></button>        </a>
         <!--   </form>                      -->
	<!--	</form>         -->

		<form id="createGameForm" href="#createGamePopUp" class="default_popup ignore-hash">
			<button type="submit" id="createGame"></button>
		</form>

		<div id="createGamePopUp" class="alertBox" style="display:none">
                <form  method="POST" action="@routes.Sketchness.gameRoom()">
				<p style="text-align:center">
               <!--     <input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />       -->
				</p>
				<input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />
				<input id="roomName" name="room" class="input-small" type="text" />
				<p></p>
				<p style="text-align:center">
					<strong>Number of Players</strong>
				</p>
				<input type="number" name="nPlayers" min="2" max="4" step="1" value="3" />
				<button id="createGamePopUp" type="submit"></button>
			</form>
		</div>


            
            <form  id="singlePlayerForm" method="POST" action="@routes.Sketchness.gameRoom()">
               <!--     <input id="username" name="username" class="input-small" type="hidden" value="@localUser.name" />       -->
                    <input id="roomName" name="room" class="input-small" type="hidden" value="@localUser.name"/>
			<input type="hidden" name="nPlayers" value="1">
			<button id="singlePlayer" type="submit"></button>
		</form>

		<!--The only way to refer to websocket instances in the page-->

        <div id="lobbyWebSocket" data-ws="@routes.Sketchness.lobbyStream().webSocketURL()"></div>
		<!--Logic to handle the chat and the lobby-->
		<script type="text/javascript" src="/assets/javascripts/lobby.js"></script>
	</div>

	<div id="preloaded-images">
		<img src="../assets/images/UI/joinUnpressed.png" width="1" height="1" alt="joinPressed" />
		<img src="../assets/images/UI/joinHover.png" width="1" height="1" alt="joinHover" />
		<img src="../assets/images/UI/joinPressed.png" width="1" height="1" alt="joinUnpressed" />
		<img src="../assets/images/UI/backUnpressed.png" width="1" height="1" alt="backPressed" />
		<img src="../assets/images/UI/backHover.png" width="1" height="1" alt="backHover" />
		<img src="../assets/images/UI/backPressed.png" width="1" height="1" alt="backUnpressed" />
		<img src="../assets/images/UI/createUnpressed.png" width="1" height="1" alt="createGamePressed" />
		<img src="../assets/images/UI/createHover.png" width="1" height="1" alt="createGameHover" />
		<img src="../assets/images/UI/createPressed.png" width="1" height="1" alt="createGameUnpressed" />
		<img src="../assets/images/UI/singleUnpressed.png" width="1" height="1" alt="singlePressed" />
		<img src="../assets/images/UI/singleHover.png" width="1" height="1" alt="singleHover" />
		<img src="../assets/images/UI/singlePressed.png" width="1" height="1" alt="singleUnpressed" />
	</div>
}
