@(signupForm: Form[_])

@import helper._
@implicitField = @{ FieldConstructor(twitterConstructorCustom.f) }
@import com.feth.play.module.pa.views.html._


@main2(Messages("Signup")) {

@if(flash.containsKey("error")) {
<div class="alert-message error">
    <p>
        <strong>Oops!</strong> @flash.get("error")
    </p>
</div>

}

<div class="backgroundimage-signup">
    <div id="logo-container" onclick="location.href='@routes.Login.login';"></div>
    <div id="signup-form">
        @helper.form(routes.Signup.doSignup) {

        @if(flash.get("accept_terms") || flash.get("email") || flash.get("name") || flash.get("password") || flash.get("repeatPassword") || flash.get("nation") || flash.get("gender")) {

        <div id="error-section">
            <div id="error-wrap">
                <div id="error-container">
                    <div id="close"></div>
                    <h1 id="error-title">Error: </h1>
                    <div id="error-message">
                        Some of the required fields need to be filled:
                        <ul>
                            @if(flash.get("accept_terms")) {
                            <li><strong>Accept terms</strong></li>
                            }

                            @if(flash.get("email")) {
                            <li><strong>Email</strong></li>
                            }

                            @if(flash.get("name")) {
                            <li><strong>Nickname</strong></li>
                            }

                            @if(flash.get("password")) {
                            <li><strong>Password not chosen</strong></li>
                            }

                            @if(flash.get("repeatPassword")) {
                            <li><strong>The passwords do not match</strong></li>
                            }

                            @if(flash.get("nation")) {
                            <li><strong>Nation</strong></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var winHeight = $(window).height();
            var windWidth = $(window).width();

            $(function(){

                if (!$("input[name='gender']").is(':checked'))
                    $('#error-message ul').append('<li><strong>Gender</strong></li>');

                $('#close').click(function(){
                    $('#error-section').fadeOut();
                });

                $('#error-section').css({
                    width: windWidth,
                    height: winHeight
                });


                $('#error-wrap').fadeOut(function(){
                    $('#error-wrap').css({
                        top: (($(window).height()-$().height('#error-wrap'))/2)+'px'
                    }).fadeIn(500);
                });
            });
        </script>
        }

        
        <div id="left-form" class="div-left-form">
            <div id="nickname-container" class="div-input-signup">
                @inputText(
                signupForm("name"),
                '_id -> "nickname-input",
                'placeholder -> "Nickname"
                )
            </div>

            <div id="email-container" class="div-input-signup">
                @inputText(
                signupForm("email"),
                '_id -> "email-input",
                'placeholder -> "Email"
                )
            </div>



            <div id="password-container" class="div-input-signup">
                @inputPassword(
                signupForm("password"),
                '_id -> "password-input",
                'placeholder -> "Password"
                )
            </div>



            <div id="repeated-password-container" class="div-input-signup">
                @inputPassword(
                signupForm("RepeatPassword"),
                '_id -> "repeatPassword-input",
                'placeholder -> "Repeat your Password"
                )
            </div>


            <div id="nation-container" class="div-input-signup">
                @inputText(
                signupForm("nation"),
                '_id -> "nation-input",
                'placeholder -> "Nation"
                )
            </div>
        </div>

        <div id="right-form" class="div-right-form">
            <div id="gender-container">
                Gender
                @inputRadioGroup(
                    signupForm("gender"),
                    options = options ("true" ->"", "false" ->""),
                    '_label -> "",
                    '_id ->"gender"
                )
            </div>

            <div id="terms-container" class="div-terms">
                @checkbox(
                field = signupForm("accept_terms"),
                '_id ->"terms"
                )
                <div id="loadTerms"></div>
                <textarea readonly id="showTerms"></textarea>
                <script type="text/javascript">
                    $(function(){
                        $('#loadTerms').click(function(){
                            $('#showTerms').slideToggle('fast',function(){
                                $('#showTerms').css('overflow','auto');
                            });
                        });
                    });
                </script>
            </div>

            <input type="submit" id="submit-signup" class="signup-submit" value="" >
        </div>

        }
    </div>
	<a href="@routes.Sketchness.index()"> <button type="submit" id="back"></button></a>
</div>
}